.messages-container {
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  align-items: flex-end;
}

.scrollbar-container {
  max-height: 100%;
  width: 100%;
}

.divider {
  margin: 40px 0;
  border-bottom: 1px solid #e8eaef;
}

.chat-controls-container {
  display: flex;
  width: 100%;
}

.textarea-container {
  width: 100%;
  margin-right: 15px;
}

.textarea {
  width: 100%;
}

.textarea-hint {
  color: #929baa;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
}

.buttons {
  display: flex;
  flex-direction: column;
}

button.microfone-button {
  padding: 6px;
  color: #7d6bf2;
  background: #f0eeff;
  border-radius: 50%;
  margin: 0 auto 8px;
  &:hover {
    background: #e5e1ff;
  }
}
