.messages-container {
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  align-items: flex-end;
}

.scrollbar-container {
  max-height: 100%;
  width: 100%;
}

.divider {
  margin: 40px 0;
  border-bottom: 1px solid #e8eaef;
}

.chat-textarea {
  width: 100%;
}
