.container {
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  background-color: #e4ccff;
  padding: 72px 0 90px;
  row-gap: 80px;
}

.title,
.subtitle {
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 110%;
  color: #43375d;
}

.subtitle {
  text-align: center;
  font-size: 40px;
  line-height: 150%;
}

.description {
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 110%;
  max-width: 745px;
  text-align: center;
  color: #43375d;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 78px;
  padding: 80px 78px 180px 78px;
}

.situations-cards {
  display: flex;
  justify-content: center;
  column-gap: 53px;
}
