.textarea {
  resize: none;
  background: #f7f8fa;
  border-radius: 12px;
  outline: 0;
  padding: 18px 21px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  height: 86px;
  border: 2px solid transparent;
  transition: border-color 0.3s;
  overflow: hidden;
  &:focus,
  &:hover {
    border: 2px solid #7d6bf2;
  }

  &:disabled {
    cursor: not-allowed;
    background: #f7f8fa;
    border: 2px solid #e8eaef;
  }
}
