.placeholder-icon {
  display: flex;
  justify-content: center;
  margin-bottom: 37px;
}

.placeholder-title {
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 130%;
  text-align: center;
  color: #43375d;
  margin-bottom: 30px;
}

.placeholder-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #929baa;
  max-width: 660px;
}
