.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #7d6bf2;
  border-radius: 12px;
  color: #fff;
  border: 0;
  padding: 9px;
  cursor: pointer;
  transition: background-color 0.3s;
  &:hover {
    background-color: #4d3bc2;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: rgba(125, 107, 242, 0.3);
  }
}
