.container {
  display: flex;
  min-height: 100vh;
  max-height: 100vh;
  flex-direction: column;
}

.header {
  z-index: 1;
}

.main {
  display: flex;
  height: calc(100vh - 80px - 72px);
  justify-content: center;
  padding: 0 16px;
}

.content {
  display: flex;
  justify-content: center;
  max-width: 1348px;
  width: 100%;
  padding-bottom: 44px;
}

.interlocutor-card {
  margin-top: 60px;
  margin-right: 100px;
}

.chat {
  width: 100%;
  display: flex;
}

.chat-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer {
  display: flex;
  justify-content: flex-end;
}

.end-button {
  margin-right: 288px;
}
